<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Generate From metatags.io -->
    <title>Sneakers — purchase sneakers online</title>
    <meta name="title" content="Sneakers — purchase sneakers online">
    <meta name="description" content="Sneakers shopping card where you can purchase sneakers online with color varieties. created by Ariyibi Baseet Adekunle (Frontend web developer) using Vue cdn">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shopping-card-project.netlify.app">
    <meta property="og:title" content="Sneakers — purchase sneakers online">
    <meta property="og:description" content="Sneakers shopping card where you can purchase sneakers online with color varieties. created by Ariyibi Baseet Adekunle (Frontend web developer) using Vue cdn">
    <meta property="og:image" content="./img/sneakers-teal.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://shopping-card-project.netlify.app">
    <meta property="twitter:title" content="Sneakers — purchase sneakers online">
    <meta property="twitter:description" content="Sneakers shopping card where you can purchase sneakers online with color varieties. created by Ariyibi Baseet Adekunle (Frontend web developer) using Vue cdn">
    <meta property="twitter:image" content="./img/sneakers-teal.png">

    <link rel="stylesheet" href="./style.css">

    <!--===================== Google fonts =============== -->
    <!-- Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
    <!-- Montserat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">

    <!-- ===================== VUE CDN =================== -->
    <script src="https://unpkg.com/vue@3"></script>
    
</head>
<body>
    <div id="app">
        <div class="logo">
            <img :src="logo">
        </div>
        <div class="product-wrapper">
            <div class="product-image">
                <img :src="productImage" :alt="imageAlt">
            </div>
            <div class="product-description">
                <small>Product name</small>
                <h1>{{ product }}</h1>
                <small>Product Description</small>
                <p>{{ productDescription}}</p>
                <a :href="productLink" class="read-more">Read more >></a>
                <br>
                <small class="available">Availability</small>
                <p v-if="inventory >= 100">In Stock</p>
                <p v-else-if="inventory <= 50 && inventory > 0">Almost sold out</p>
                <p v-else="inventory = 0">Out of stock</p>
                <!-- <p v-if="onSale">on sale</p> -->
                <!-- <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul> -->
                <!-- <div v-for="(item, index) in items" :key="index">
                </div> -->
                <div class="variant" v-for="variant in variants" :key="variant.id" @click="updateImage(variant.image)" :style="{backgroundColor: variant.color}" :title="variant.title">
                    <!-- {{ variant.id }} -->
                </div>
                <!-- <ul>
                    <li v-for="size in sizes"> {{ size  }}</li>
                </ul>  -->
                        <!-- <p>{{ productDescription }}</p> -->
        <button class="btn" @click="addToCart" :disabled="!onSale" :class="{disabledButton : !onSale}"> <i class="fa-solid fa-shopping-cart"></i> Add to cart</button>
        <button class="btn btn-remove" @click="removeFromCart"> Remove from Cart</button>
        <span class="cart"><i class="fa-solid fa-cart-shopping"></i>(<span>{{ cart }}</span>)</span>
            </div>
        </div>
    </div>

<script src="./app.js"></script>
</body>
</html>



